<%= form_for(@prato) do |f| %>
  <% if @prato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prato.errors.count, "error") %> prohibited this prato from being saved:</h2>

      <ul>
      <% @prato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cod_barras %><br>
    <%= f.number_field :cod_barras %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :Bebida %><br>
    <%= f.text_field :tipo_pratoB %>
  </div>
  <div class="field">
    <%= f.label :Tipo %><br>
    <%= f.text_field :tipo_bebida %>
  </div>
  <div class="field">
    <%= f.label :ml %><br>
    <%= f.text_field :ml_bebida %>
  </div>
  <div class="field">
    <%= f.label :Prato %><br>
    <%= f.text_field :tipo_pratoC %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
